:root {
  --color-1: #5E607A;
  --color-2: #00001A;
  --color-3: #FFFDFA;
  --color-4: #F15D51;
  --color-5: #E9AA52;
  --color-6: #C5C6CE;
  --font-size-paragraph: 1.5rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 385px) {
  html {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  padding-top: 5rem;
  position: relative;
}
@media (max-width: 500px) {
  body {
    padding-top: 3rem;
  }
}

.container {
  display: grid;
  grid-template-columns: minmax(1.7rem, 1fr) repeat(3, minmax(min-content, 38rem)) minmax(1.7rem, 1fr);
  grid-template-areas: ". head head head ." ". main main news ." ". top-3 top-3 top-3 ." ". foot foot foot .";
  row-gap: 5rem;
}
@media (max-width: 765px) {
  .container {
    grid-template-rows: 1fr;
    row-gap: 2rem;
    grid-template-areas: ". head head head ." ". main main main ." ". news news news ." ". top-3 top-3 top-3 ." " . foot foot foot .";
  }
}

.footer {
  grid-area: foot;
  display: flex;
  justify-content: center;
}
.footer p {
  font-weight: 300;
  font-size: 1.2rem;
}
.footer a {
  color: var(--color-2);
}
.footer a:hover {
  background-color: var(--color-4);
  color: var(--color-3);
}

.header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  transition: all 0.5s;
}
@media (max-width: 500px) {
  .nav__menu {
    position: absolute;
    height: 100vh;
    width: 70%;
    top: 0;
    right: 0;
    background-color: var(--color-3);
    display: none;
    z-index: 100;
  }
}

.list {
  list-style: none;
  display: flex;
}
@media (max-width: 500px) {
  .list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.list__menu:not(:last-child) {
  margin-right: 4rem;
}
@media (max-width: 500px) {
  .list__menu:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .list__menu {
    padding: 2rem;
  }
}
.list__link {
  text-decoration: none;
  font-size: var(--font-size-paragraph);
  line-height: 2.6rem;
  color: var(--color-1);
  transition: all 0.3s;
  display: block;
}
@media (max-width: 600px) {
  .list__link {
    color: var(--color-2);
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  .list__link {
    color: var(--color-2);
    font-size: 1.6rem;
  }
}
.list__link:hover {
  color: var(--color-3);
  background-color: var(--color-4);
  transform: rotate(5deg);
}
@media (max-width: 500px) {
  .list__link:hover {
    transform: rotate(0) scale(1.1);
  }
}
.list__link:active {
  transform: rotate(5deg) scale(1.2);
}
@media (max-width: 500px) {
  .list__link:active {
    transform: rotate(0);
  }
}

.menu-toggle {
  width: 6rem;
  margin-left: 10rem;
  transition: all 0.2s;
  cursor: pointer;
}
@media (max-width: 500px) {
  .menu-toggle__one, .menu-toggle__two, .menu-toggle__three {
    background: black;
    height: 5px;
    width: 100%;
    margin: 0.5rem auto;
  }
}

.on {
  transition: all 0.5s;
  position: absolute;
  top: 3.5rem;
  right: 3.1rem;
  z-index: 200;
}
.on .menu-toggle__one {
  margin-left: -1rem;
  transform: rotate(45deg) translate(15px);
}
.on .menu-toggle__two {
  opacity: 0;
}
.on .menu-toggle__three {
  margin-left: -1rem;
  transform: rotate(-45deg) translate(15px);
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
@media (max-width: 765px) {
  .main {
    margin-bottom: 5.4rem;
  }
}
@media (max-width: 500px) {
  .main {
    grid-template-columns: 1fr;
    margin-bottom: 6.4rem;
    grid-gap: 2rem;
  }
}
.main__pictures {
  grid-column: 1/-1;
  overflow: hidden;
  max-width: 73rem;
  margin-right: 3rem;
}
@media (max-width: 765px) {
  .main__pictures {
    margin-right: 0;
  }
}
.main__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
  display: block;
}
.main__image:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  .main__title {
    text-align: center;
    grid-column: 1/-1;
  }
}
.main__text {
  text-align: center;
}
.main__paragraph {
  margin-bottom: 3rem;
  font-weight: 400;
  font-size: var(--font-size-paragraph);
  line-height: 2.6rem;
  color: var(--color-1);
  width: 95%;
}
@media (max-width: 500px) {
  .main__paragraph {
    grid-column: 1/-1;
  }
}
.main__button {
  padding: 1.3rem 3.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2.4rem;
  border: none;
  cursor: pointer;
  color: var(--color-3);
  background-color: var(--color-4);
  box-shadow: 0px 11px 15px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}
.main__button:hover {
  background-color: var(--color-2);
  transform: translateY(-1px) scale(1.1);
  box-shadow: 0px 11px 15px 5px rgba(0, 0, 0, 0.6);
}
.main__button:active {
  background-color: var(--color-4);
  transform: scale(1);
  box-shadow: 0px 11px 15px 5px rgba(0, 0, 0, 0.4);
}

.news {
  grid-area: news;
  background-color: var(--color-2);
  padding: 3.2rem 2.4rem;
}
.news__title {
  font-size: 4rem;
  line-height: 4rem;
  color: var(--color-5);
  font-weight: 700;
}

.link-news:not(:last-child) {
  border-bottom: 1px solid var(--color-1);
}

.link-news a {
  text-decoration: none;
}
.link-news__title {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
  color: var(--color-3);
  transition: all 0.3s;
  margin-top: 3.4rem;
}
.link-news__title:hover {
  color: var(--color-5);
}
.link-news__paragraph {
  font-size: var(--font-size-paragraph);
  color: var(--color-6);
}

.top-3 {
  grid-area: top-3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: 3rem;
}
@media (max-width: 780px) {
  .top-3 {
    row-gap: 3rem;
  }
}

.cards {
  display: flex;
}
.cards__img {
  max-width: 10rem;
  width: 100%;
  margin-right: 2.4rem;
  overflow: hidden;
}
.cards__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.3s;
}
.cards__img img:hover {
  transform: scale(1.1);
}
.cards__number {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: var(--color-6);
  margin-bottom: 1.2rem;
}
.cards__link {
  text-decoration: none;
}
.cards__title {
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--color-2);
  transition: color 0.3s;
}
.cards__title:hover {
  color: var(--color-4);
}
.cards__title:active {
  color: var(--color-2);
}
.cards__text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: var(--color-1);
}

@media (max-width: 500px) {
  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
    z-index: 10;
    top: 0;
    left: 0;
  }
}

.hidden {
  display: none;
}

.display-on {
  display: block;
}

.heading-1 {
  font-size: 5.6rem;
  line-height: 5.6rem;
  color: var(--color-2);
}
@media (max-width: 600px) {
  .heading-1 {
    font-size: 4.5rem;
    line-height: 5.6rem;
    width: 85%;
  }
}
@media (max-width: 570px) {
  .heading-1 {
    width: 90%;
  }
}
@media (max-width: 545px) {
  .heading-1 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .heading-1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.margin-b {
  margin-bottom: 3rem;
}

/*# sourceMappingURL=style.css.map */
