.header{
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.5rem;
}

.list{
    list-style: none;
    display: flex;
    
    &__menu{
        &:not(:last-child){
            margin-right: 4rem;
        }
    }

    &__link{
        text-decoration: none;
        font-size: var(--font-size-paragraph);
        line-height: 2.6rem;
        color: var(--color-1);
        transition: all .2s;        
        display: block;

        @media(max-width: 500px){
            display: none;
        }

        &:hover{
            color: var(--color-3);
            background-color: var(--color-4);            
            transform: rotate(5deg);            
        }

        &:active{            
            transform:rotate(5deg) scale(1.2);
            
        }
    }
}


.menu-toggle{
    
    width: 6rem;
    margin-left: 10rem;
    transition: all .2s;
    cursor: pointer;
    &__one,
    &__two,
    &__three{

        @media(max-width:500px){
            background: black;
            height: 5px;                       
            width: 100%;
            margin: 0.5rem auto;
        }        
    }  
    
}

.on{
    transition: all .5s;    
    
    .menu-toggle{
                
        &__one{
            margin-left: -1rem;
            transform: rotate(45deg) translate(15px);
        }

        &__two{
            opacity: 0;
        }

        &__three{
            margin-left: -1rem;
            transform: rotate(-45deg) translate(15px);
        }
    }
}
