:root{
  --color-1: #5E607A;
  --color-2: #00001A;
  --color-3: #FFFDFA;
  --color-4: #F15D51;
  --color-5: #E9AA52;
  --color-6: #C5C6CE;
  --font-size-paragraph: 1.5rem;
  
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width:600px){
    font-size: 55%;
  }

  @media (max-width:385px){
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  padding-top: 5rem;
  position: relative;

  @media(max-width:500px){
    padding-top: 3rem;
  }
}

.container {  
  display: grid;
  grid-template-columns: minmax(1.7rem, 1fr) repeat(
      3,
      minmax(min-content, 38rem)
    ) minmax(1.7rem, 1fr);  
  grid-template-areas:
    ". head head head ."
    ". main main news ."
    ". top-3 top-3 top-3 ."
    ". foot foot foot .";
    row-gap: 5rem;

  @media(max-width:765px){
    grid-template-rows: 1fr;  
    row-gap: 2rem;
    grid-template-areas:
    ". head head head ."
    ". main main main ."
    ". news news news ."
    ". top-3 top-3 top-3 ."
    " . foot foot foot .";
  }
}
